

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: Montserrat, sans-serif;
}
#biggest-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"header header header header header"
                        "nav nav nav nav nav"
                        "main main main main aside"
                        "footer footer footer footer footer";

}
#biggest-container2{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        "nav"
                        "main"
                        "footer";
}

header{
    background: linear-gradient(
        to right in oklab,
        #1a3a7c 0%,
        #8ec5ff 100%
       
    );
    width: 100%;
    height: fit-content;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header img{
    height: 135px;
    width: 135px;
}
nav {
    font-size: 23px;
    color: black;
    grid-area: nav;
    background-color: #1a3a5c;
    position: sticky;
    top: 0;
    padding: 40px;
    display: flex;
    flex-direction: row;
    z-index: 1;

}
nav a{
    color: white;
    text-decoration: none   ;
    padding-left: 20px;
}
nav a:hover{
    font-weight: bold;
    
}
main{
    color: black;
    grid-area: main;
    background-color: rgba(80, 135, 255, 0.767);
    min-width: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#aside-flex{
    font-size: 200px;
    color: black;
    grid-area: aside;
    background-color: rgba(80, 135, 255, 0.767) ;
    height: auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
aside img{
    max-width: 100%;
    height: auto;
}
aside{
    background-color:rgba(80, 135, 255, 0.767);
}
footer {
    background-color: #1a3a5c;
    color: white;
    font-size: 20px;
    grid-area: footer;
    padding: 20px;
    text-align: center;
    height: auto;
    
}
#partnerek{
    text-align: left;

}
#partnerek a{
    color: bisque;
}
#partnerek li::marker{
    color: bisque;
}
#partnerek a:hover{
    color: aliceblue;
}

#focim{
    margin-top: 100px;
    margin-left: 50px;
    width: 40%;
    height: auto;
    text-align: justify;
}
#header_kepek{
   width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#sor1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    

}
#sor2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
    

}
#sor1 div{
    background-color: black;
    width: 100px;
    height: 100px;
    
}
#sor2 div{
    background-color: black;
    width: 100px;
    height: 100px;
}
.block{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    font-size: 25px;
    background-color: #d2e7f8e5;
    border: 10px solid rgba(255, 218, 11, 0.863);
    text-align: justify;
    padding: 20px;
}
.dropbtn {
  font-size: 23px;
  cursor: pointer;
  color: white;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #d2e7f8;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  
.dropdown{
    width: fit-content;
}



.card {
  width: 240px;
  height: 360px;
  perspective: 1000px; /* semmit */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /*megfordítja a képet, de tükrözve*/
  transition: transform 1.25s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  color: #fff;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  font-size: 24px;
  transform: rotateY(180deg);
}
#Kepek{
    display: flex;
    justify-content: center;
}
#ElérhetőségeinkDiv{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}